.events{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.events h4{
  font-family: 'Pacifico', cursive;

}

.card{
  margin: 1vw;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.card:hover{
  filter:drop-shadow(8px 8px 10px rgb(19, 19, 19));
}

.card img{
  height: 20rem;
}

.card-body{
  height: 6rem;
  background-color:whitesmoke;
}

.date{
  background-color: rgb(85, 8, 92) !important;
}

.event-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}


h6{
  margin-top: 5px;
  text-align: center;
  color: white;

}


/* RESPONSIVENESS */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .card-body{
    background-color:whitesmoke;
  }






}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)and (max-width:991px){



}

/* Medium devices (landscape tablets, 768px and up) .. */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}




