.event-details{
  background-color: aliceblue;

}

.ro h6{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 18px;

}
.fas{
  font-size: 1rem;

}

.card img{
  height: 35rem;
}


.date{
  background-color: rgb(85, 8, 92) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grab-ticket{
  background-color: rgb(85, 8, 92) !important;
  border: none; box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.grab-ticket:hover{
  filter:drop-shadow(8px 8px 10px rgb(19, 19, 19));
  background-color: rgb(81, 47, 206) !important;


}

.customer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details .fas{
  margin-bottom: 4%;
  color: rgb(74, 122, 212);
}

span{
  color: black !important;
}


.date h6{
  margin-top: 5px;
  text-align: center;
  color: white;

}


#ticket-title, #ticket-table{
  display: none;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

select{
  height: 2rem;
  width: 2rem;
}



.payment-option{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check input{
  font-size: 2rem;
}


.payment-option img{
  height: 9vh;
}


.confirmation h6{
  text-align: center;
}

.payment-instructions{
  background-color: rgb(233, 242, 255);
  font-size: small;
}

#mpesa-details , #airtel-details{
  margin: 10px;
  display: none;
}


input{
font-size: small;
}


button
{
  font-size: 14px;
}


.tickets button{
  background-color: rgb(206, 216, 215);
}
